{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .conn{margin: 10% ;}
</style>

<div class="example-wrapper">
  <div class="conn">
    <div class="card mb-4" style="width: 25rem;">
      <div class="card-body">
        <div class="col mb-4">
              <form method="post" action="{{ path('index') }}">
                <div class="row"><div class="col mb-4">
                  <label for="formule">La Formule</label>
                  <select name="formule" id="formule">
                    <option value="" selected>Choisissez une formule</option>
                    {% for uneFormule in formule %}
                      <option value={{uneFormule.duree}}>{{uneFormule.libelle}}</option>
                    {% endfor %}
                  </select></div>
                  <div class="col mb-4"><label for="formule">La Formule</label>
                  <select name="modele" id="modele">
                  <option value="" selected>Choisissez une formule</option>
                    {% for unModele in modele %}
                    <option value={{unModele.id}}>{{unModele.nom}}</option>
                    {% endfor %}
                  </select></div>
                  <div class="col mb-4"><input type='date' id="departPrevuD" name="departPrevuD" disabled/>
                  <input type='time' id="departPrevuH" name="departPrevuH" disabled/><p></p>
                  <input type="submit" value="Louer" id="submit" name="submit" class="btn btn-primary"/></div>
                </form>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
    
  $('#modele').change(function () {
    
    choice = $(this).children('option:selected').val()    
    
    if(choice !="" ){$('#departPrevuD').removeAttr('disabled');}
    else{$('#departPrevuD').attr('disabled','disabled');}    
  });
  $('#departPrevuD').change(function(){
    value=$(this).val().length;
    if(value==10){$('#departPrevuH').removeAttr('disabled');}
    else{$('#departPrevuH').attr('disabled','disabled');}
  });

 

</script>
{% endblock %}
